version: "3.9"

services:

  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  todo-api:
    image: todo-list-api:latest
    container_name: todo-api
    depends_on:
      - mongo
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/todo
    ports:
      - "8081:8080"

  api-gateway:
    image: api-gateway:latest
    container_name: api-gateway
    depends_on:
      - todo-api
    ports:
      - "8080:8080"

volumes:
  mongo_data:
